<h2> Data Normalization Min-Max </h2>

In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [30]:
df = pd.read_csv('./main/Data Normalization and Discretization/datasetgaji2.csv')

In [31]:
df

             Nama Status Rumah  Gaji Orang Tua  Umur
0      aldi taher      Kontrak         2100000    24
1          kekeyi        Milik         4000000    23
2   rangga sasana      Kontrak         1400000    21
3  vicky prasetyo      Kontrak          700000    28
4            Zuko        Milik          650000    27
5           dyrga      Kontrak          450000    22

In [37]:
scaler = MinMaxScaler() # Lihat rumus min max di ss

In [38]:
scaled = scaler.fit_transform(df[['Gaji Orang Tua', 'Umur']])
# Mengubah gaji orang tua dan umur

In [42]:
scaled
#kiri gaji orang tua, kanan umur
#data yang paling tinggi contoh disitu adalah gajinya 4 juta
# maka x maks gaji 4000000 adalah 1
# dan x maks umur 28 adalah 1
# sedangkan data yang paling sedikit diwakili dengan 0 seperti dibawah
# gaji orangtua dyrga dan umur rangga sasana

array([[0.46478873, 0.42857143],
       [1.        , 0.28571429],
       [0.26760563, 0.        ],
       [0.07042254, 1.        ],
       [0.05633803, 0.85714286],
       [0.        , 0.14285714]])

In [45]:
# cara baca data diatas adalah dengan mengangap itu adalah persen
# contoh 0.07 adalah sekitar 7% -> maka dibaca data ini adalah 7% dari nilai tertinggi
# rentang skala adalah 0-1

<h2> Data Standarization </h2>

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [48]:
scaled = scaler.fit_transform(df[['Gaji Orang Tua','Umur']])

In [51]:
scaled #tidak ada batasan rentang

array([[ 0.44733685, -0.06551218],
       [ 1.99268231, -0.45858525],
       [-0.12200096, -1.24473139],
       [-0.69133876,  1.5067801 ],
       [-0.73200575,  1.11370703],
       [-0.89467369, -0.85165832]])